<h1>Admin#users</h1>
<p>Find me in app/views/admin/users.html.erb</p>


<div>Badges</div>
<%@badge.each do |r| %> 
  
<p>
    <%= r.attributes %> 
     <%end%>
</p>

<div>Betters</div>
<%@better.each do |r| %> 
  
<p>
    <%= r.attributes %> 
     <%end%>
</p>

<div>Brands</div>
<%@brand.each do |r| %> 
  
<p>
    <%= r.attributes %> 
     <%end%>
</p>

<div>Collections</div>
<%@collection.each do |r| %> 
  
<p>
    <%= r.attributes %> 
     <%end%>
</p>

<div>Devices</div>
<%@device.each do |r| %> 
  
<p>
    <%= r.attributes %> 
     <%end%>
</p>

<div>Expertises</div>
<%@expertise.each do |r| %> 
  
<p>
    <%= r.attributes %> 
     <%end%>
</p>

<div>Friends</div>
<%@friend.each do |r| %> 
  
<p>
    <%= r.attributes %> 
     <%end%>
</p>

<div>Items</div>
<%@item.each do |r| %> 
  
<p>
    <%= r.attributes %> 
     <%end%>
</p>

<div>Outfits</div>
<%@outfit.each do |r| %> 
  
<p>
    <%= r.attributes %> 
     <%end%>
</p>

<div>Seasons</div>
<%@season.each do |r| %> 
  
<p>
    <%= r.attributes %> 
     <%end%>
</p>

<div>Subtypes</div>
<%@subtype.each do |r| %> 
  
<p>
    <%= r.attributes %> 
     <%end%>
</p>

<div>Trends</div>
<%@trend.each do |r| %> 
  
<p>
    <%= r.attributes %> 
     <%end%>
</p>

<div>Users</div>
<%@user.each do |r| %> 
  
<p>
    <%= r.attributes %> 
     <%end%>
</p>

<div>Worses</div>
<%@worse.each do |r| %> 
  
<p>
    <%= r.attributes %> 
     <%end%>
</p>
